:root {
    --background-color: #131313;
    --text-color: #ffffff;
    --text-grey: #6d6d6d;
    --pink: #E621AF;
    --link-color: #09e4e6;
    --link-dim: #08babd;
}

::moz-selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

::selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

body {
    background-color: var(--background-color);
    background-size: cover;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gugi', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--pink);
}

.left {
    padding: 20px;
    /* float: left ; */
}

.left h1 {
    color: var(--pink);
    margin: 0;
}

.left p{
    font-family: 'IBM Plex Mono', monospace;
}

.square-img img{
    width: 360px;
    max-width: 500px;
    height: auto;
}

.time-container strong{
    /* margin-bottom: 40px; */
    text-align: left;
    font-family: 'IBM Plex Mono', monospace;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category h3 {
    font-size: 1rem;
    color: var(--pink);
}

.category a {
    display: table;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s;
}

.category a:hover {
    color: var(--link-dim);
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.search input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--link-color);
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--pink);
    background-color: transparent;
}

.search input[type="search"]::placeholder {
    color: var(--text-grey);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0%;
    }

    .left {
        text-align: center;
    }

    .time-container{
        text-align: center;
    }

    .right {
        padding: 10px;
    }

    .link-container {
        line-height: 3vh;
    }

    .square-img img{
        /* visibility: hidden; */
        width: 35vh;
    }
}
