:root {
    --background-color: #131313;
    --text-color: #ffffff;
    --pink: #E621AF;
    --link-color: #09e4e6;
    --link-dim: #08babd;
}

::moz-selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

::selection {
    background-color: var(--link-color);
    color: var(--background-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--pink);
}

.left {
    padding: 20px;
    float: left ;
}

.left h1 {
    color: var(--pink);
    margin: 0;
}

.square-img img{
    width: 460px;
    max-width: 500px;
    height: auto;
}

.time-container {
    /* margin-bottom: 40px; */
    text-align: left;
}

.right {
    display: flex;
    width: 460px;
    height: 396px;
    flex-direction: column;
    padding: 20px;
}

.link-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category h3 {
    font-size: 1rem;
    color: var(--pink);
}

.category a {
    display: table;
    text-decoration: none;
    color: var(--link-color);
    /* margin-bottom: 5px; */
    transition: color 0.2s;
}

.category a:hover {
    color: var(--link-dim);
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.search input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--link-color);
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    color: var(--pink);
    background-color: transparent;
}

.search input[type="search"]::placeholder {
    color: var(--text-color);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        width: 100%;
        text-align: center;
    }

    .right {
        padding: 20px;
    }

    .link-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
